<launch>

<!-- Door action -->
  <include file="$(find pr2_doors_actions)/launch/door_actions.xml" />

<!-- Navigation -->
  <include file="$(find pr2_doors_executive)/config/navigation.xml" />

<!-- Controllers -->
  <include file="$(find pr2_doors_executive)/config/controllers.xml" />

<!-- Perception -->
  <include file="$(find pr2_doors_executive)/config/perception.xml" />

</launch>
