<launch>

  <!-- fake door calibration -->
  <node ns="doorbot" pkg="rostopic" type="rostopic" name="fake_joint_calibration" args="pub /calibrated std_msgs/Bool true" />

  <!-- load controller yaml -->
  <rosparam ns="doorbot" file="$(find pr2_doors_gazebo_demo)/controllers/door_position_controllers.yaml" command="load" />

  <!-- start controller -->
  <node  ns="doorbot" name="spawn_door_position_controllers" pkg="pr2_controller_manager" type="spawner" args="--wait-for=/calibrated door_position_controller handle_position_controller" output="screen" />

</launch>
