<launch>

  <!-- start gazebo -->
  <include file="$(find pr2_doors_gazebo_demo)/launch/empty_world.launch"/>

  <!-- load pr2 -->
  <include file="$(find pr2_gazebo)/pr2.launch" />

  <!-- load door -->
  <param name="door_description" command="$(find xacro)/xacro.py '$(find pr2_doors_gazebo_demo)/urdf/door.urdf'" />
  <node pkg="gazebo" type="spawn_model" args="-urdf -param door_description -n doorbot -model doorbot" respawn="false" name="door_description"/>

  <!-- load door and handle controllers -->
  <include file="$(find pr2_doors_gazebo_demo)/launch/door_position_controllers.launch" />

</launch>
 
